<a href="https://colab.research.google.com/github/Yomi2jf/Avadoclass/blob/main/Avado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using if, elif, else statements, print if number is positive, negative or zero

In [9]:
a = -100

if a == 0:
    print('Number is zero')
elif a < 0:
  print('Number is negative')
else:
  print('Number is positive')

Number is negative

In [10]:
a = -100

if a == 0:
  print('Number is zero')
elif a < 0:
  print ('Number is negative')
else:
  print('Number is positive')

Number is negative

In [14]:
for i in [1,2,3,4,5,6,7]:
  print(i)

1
2
3
4
5
6
7

In [27]:
for item in range(1,11):
  print("12 x {} =". format(item), item*12)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [21]:
numlist = [1000, 20, 2010, 50, 95, 34]

newnumlist_conventional = []
newmulist_comprehension = []

for i in numlist:
  if i < 100:
    newnumlist_conventional.append(i)

newnumlist_comprehension = [i for i in numlist if i<100]

print(newnumlist_conventional)
print(newnumlist_comprehension)

[20, 50, 95, 34]
[20, 50, 95, 34]

In [9]:
mylist = ["Michael", "Sean", "Adam", "Ali", "Rachael"]

newlist = []

newlist = [i for i in mylist if "A" in i]
newlist

['Adam', 'Ali']

In [10]:
word = "python"

["P", "Y", "T", "H", "O", "N"]
newlst = [letter.upper() for letter in word]
print(newlst)

['P', 'Y', 'T', 'H', 'O', 'N']

In [2]:
word = "London"
list(word.upper())

['L', 'O', 'N', 'D', 'O', 'N']

In [15]:
matrix = [[0, 1, 2],
         [3, 4, 5],
         [6, 7, 8],
         [9, 10, 11]]

rows = len(matrix)
cols = len(matrix[0])

for i in range (0, rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [25]:
#Nested loop

mylist = [[1,2,3,4],[5,6,7],['a','b','c'],['d','e',]]
newlist = []
for x in range(len(mylist)):
  for y in range(len(mylist[x])):
    newlist.append(mylist[x][y])

print(newlist)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']

In [27]:
mylist = [[1,2,3,4],[5,6,7],['a','b','c'],['d','e',]]
# list comprehension - simpler one liner than above

[num for elem in mylist for num in elem]

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e']

Dictionaries


1.   Dictionaries are used to store data values in **key:value** pairs
2.   Dictionay items are changeable and do not allow duplicates
1.   Dictionaries are written with curly brackets {}, and have keys and values

In [31]:
mydict = {
   "employee" : "Zara",
    "department" : "Operations",
    "last salary" : 50000.0
}
print(mydict)

{'employee': 'Zara', 'department': 'Operations', 'last salary': 50000.0}

In [33]:
mydict['last salary']

50000.0

Accessing **keys, values** and **items**

In [36]:
mydict = {
    "employee" : "Zara",
    "department" : "Operations",
    "last salary" : 50000.0
}
keys = mydict.keys()
values = mydict.values()
items = mydict.items()
print (keys)
print (values)
print(items)

dict_keys(['employee', 'department', 'last salary'])
dict_values(['Zara', 'Operations', 50000.0])
dict_items([('employee', 'Zara'), ('department', 'Operations'), ('last salary', 50000.0)])

In [41]:
list(keys) [0]

'employee'

**Nested dictionaries**

A dictionary can contain dictionaries, these are called nested dictionaries

In [46]:
mydict = {
    1: {"employee" : "Zara", "deparment" : "Operations", "last salary" : 10000},
    2: {"emoployee" : "Dave", "department" : "Sales", "last salary" : 70000}

}
mydict

{1: {'employee': 'Zara', 'deparment': 'Operations', 'last salary': 10000},
 2: {'emoployee': 'Dave', 'department': 'Sales', 'last salary': 70000}}

In [49]:
if "department" in mydict:
  print("Yes key department is present in this dict")

In [57]:
mydict.pop("Zara")
mydict

KeyError: ignored

**Using loops in dictionaries**

A loop can be used to loop through a dictionary

When looping through a dictionary, the return value are the keys of the dictionary.

There are methods to return values as well

In [58]:
mydict = {
    "employee" : "Zara",
    "department" : "Operations",
    "last salary" : 5000,
    "status" : "permanent",
    "level" : 3
}
for item in mydict.keys():
  print(item)

employee
department
last salary
status
level

**Tuples**

A tuple is a collection which is ordered, unchangeable and allows duplicates.

Tuples are written with round () brackets

Similar to lists, tuples allow different data types

In [61]:
mytuple = ("Audi", "Ford", "Tesla")
print(mytuple)
mytuple = ("Audi", "Ford", "Tesla", "Audi")
print(mytuple)
mytuple = ("Audi", "Ford", "Tesla", "Audi", 5000, True)
print(mytuple)

('Audi', 'Ford', 'Tesla')
('Audi', 'Ford', 'Tesla', 'Audi')
('Audi', 'Ford', 'Tesla', 'Audi', 5000, True)

In [64]:
#All rules regarding indexing, negative indexing and slicing also apply to tuples
mytuple = ("Audi", "Ford", "Tesla", "Audi", 5000, True)
print(mytuple[3]) #indexing
print(mytuple[-1]) #negative indexing
print(mytuple[0:3]) #slicing

Audi
True
('Audi', 'Ford', 'Tesla')

**Tuples - change value**

Tuples are unchangeable once created

But there is a workaround. You can convert the tuple into a list, change (add, remove, update)

In [59]:
mytuple = ("Audi", "Ford", "Tesla", "Audi")
mylist = list(mytuple) #using list constructor, convert tuples to list
mylist [1] = "Toyota" #make the change you want
mytuple = tuple(mylist) #convert list back to tuple using tuple constructor
print(mytuple)

('Audi', 'Toyota', 'Tesla', 'Audi')

In [60]:
# searches the tuple for a specified value and returns the position of where it
mytuple = ("Audi", "Ford", "Tesla")
mytuple.index("Tesla")

2

**Tuples - packing and unpacking**

In [70]:
mytuple = ("Audi", "Ford", "Tesla") #packing
car1,car2,car3 = mytuple #unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

**SETS**



*   A set is a collection which is unchangeable, unindexed and does not allow duplicates
*   Written with {} brackets
*   Allow a mixture of different data tyoes
*   len() and type() can be used in similar ways

In [71]:
myset = {"apple", "banana", "orange", 1, 3, 5, True} #yet output will be unordered
print(myset)
print(len(myset))
print(type(myset))

{1, 3, 5, 'orange', 'apple', 'banana'}
6
<class 'set'>

In [72]:
#delete values using pop
myset.pop()
myset

{3, 5, 'apple', 'banana', 'orange'}

In [78]:
#union, intersection and subset methods
myset1= {3,4}
myset2 = {3,4,5,6}
myset3 = myset1.intersection(myset2) #intersection of two sets and output in third
myset4 = myset1.union(myset2) #union of two sets and output in third
print(myset3)
print(myset4)
print(myset1.issubset(myset2))

{3, 4}
{3, 4, 5, 6}
True

In [80]:
import pandas as pd

search coding challenges for beginners

**Merging two dictionaries**

In [81]:
#Method 1
age_dict_group1 = {"Sara" : 20, "Elina": 32, "Mike" : 27}
age_dict_group2 = {"George": 42, "Robin": 21, "Gary": 25}

combined_dict = {}

for key in age_dict_group1:
  combined_dict[key] = age_dict_group1

for key in age_dict_group2:
  combined_dict[key] = age_dict_group2

print(combined_dict)

{'Sara': {'Sara': 20, 'Elina': 32, 'Mike': 27}, 'Elina': {'Sara': 20, 'Elina': 32, 'Mike': 27}, 'Mike': {'Sara': 20, 'Elina': 32, 'Mike': 27}, 'George': {'George': 42, 'Robin': 21, 'Gary': 25}, 'Robin': {'George': 42, 'Robin': 21, 'Gary': 25}, 'Gary': {'George': 42, 'Robin': 21, 'Gary': 25}}

In [83]:
#Method 4
age_dict_group1 = {"Sara" : 20, "Elina": 32, "Mike" : 27}
age_dict_group2 = {"George": 42, "Robin": 21, "Gary": 25}

combined_dict = age_dict_group1 | age_dict_group2
combined_dict

{'Sara': 20, 'Elina': 32, 'Mike': 27, 'George': 42, 'Robin': 21, 'Gary': 25}

**Remove the duplicates from list**

In [84]:
#Method 1
lst = [5,6,7,4,3,4,4,4,3,3,1]

newlst =[]

for item in lst:
  if item not in newlst:
    newlst.append(item)

newlst

[5, 6, 7, 4, 3, 1]

In [85]:
#Method 2
lst = [5,6,7,4,3,4,4,4,3,3,1]

st = set(lst)
newlst = list(st)
newlst

[1, 3, 4, 5, 6, 7]

In [86]:
#Method 3
lst = [5,6,7,4,3,4,4,4,3,3,1]

newlst = []
[newlst.append(x) for x in lst if x not in newlst]
newlst

[5, 6, 7, 4, 3, 1]

**Search https://hackthedeveloper.com/python-list-comprehension/